<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title>高淳大闸蟹</title>
    <link href="style/index.css" text="text/css" rel="stylesheet" />
    <link href="style/style.css" type="text/css" rel="stylesheet" />
    <link href="style/mescroll.min.css" text="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="style/myorder.css" />
    <style>
        .am-btn{
            font-size:1rem;
            padding:0.5rem 0.2rem;
        }
    </style>
</head>

<body>
    <!--top开始图片-->
    <div class="banner">
        <img src="images/header.jpg">
    </div>
    <!-- /top开始图片-->
    <div id="app">
        <div class="tit_dh">我的订单</div>
        <!-- 订单列表-->
        <div id="mescroll" class="mescroll">
            <ul id="dataList" v-cloak>
                <li v-for="(order,index) in orderList">
                    <div class="ordernumber">
                        <a :href="'orderInfo.html?orderid='+order.OrderId">
                           订单号: {{order.OrderNumber}}
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="orderInfo">
                        <span> 收货人: {{order.consignee}} {{order.telphone}}</span>
                    </div>
                    <div class="orderInfo">
                        <span>总重量:{{order.TotalWeight}}kg 总价:{{order.ActualMoney}}元</span>
                        <span v-if="order.OrderDelivery!=''">运单号: {{order.OrderDelivery}}</span>
                    </div>
                    <div class="orderAddress">
                        <span>{{order.OrderDate}}</span>
                        <span v-if="order.OrderState==1" style="color:#ff6600;" @click="Pay(order)">继续支付</span>
                        <span v-else>{{order.OrderStateStr}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- -->
        <footer>
            <div id="indexFooterBox">
                <ul id="indexFooter">
                    <li class="bor"><a href="myOrder.html"><i class="fa fa-file-text-o fa-2x"></i><span>我的订单</span></a></li>
                    <li class="bor"><a href="rebate.html"><i class="fa fa-folder-open-o fa-2x"></i><span>我的成果</span></a></li>
                    <li><a href="shop.html"><i class="fa fa-cart-plus fa-2x"></i><span>立即购买</span></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="scripts/jquery.min.js" type="text/javascript"></script>
    <script src="scripts/mescroll.min.js" type="text/javascript"></script>
    <script src="scripts/vue.js" type="text/javascript"></script>
    <script src="service/load.js" type="text/javascript"></script>
    <script src="scripts/lodash.min.js" type="text/javascript"></script>
    <script src="service/myOrder.js?v=1.2" type="text/javascript"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</body>

</html>