<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title>高淳大闸蟹</title>
    <link href="style/amazeui.min.css" type="text/css" rel="stylesheet" />
    <link text="text/css" rel="stylesheet" href="style/mescroll.min.css" />  
    <link rel="stylesheet" type="text/css" href="style/font-awesome.min.css" />  
    <link rel="stylesheet" type="text/css" href="style/myorder.css" />
    <link href="style/index.css" text="text/css" rel="stylesheet" />
    <link href="style/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <!--top开始图片-->
    <div class="banner">
        <img src="images/header.jpg">
    </div>
    <!-- /top图片-->
    <div id="app" v-cloak>
        <div class="tit_dh">订单：{{order.OrderNumber}}</div>
        <div style="height: 10px;"></div>
        <div class="content-list">
            <ul class="order-list">
                <li v-if="crabList.length>0">
                    <div class="title">商品清单</div>
                    <div class="totalpartli" v-for="(crab,index) in crabList">
                        <span>{{crab.ProductName}} ({{crab.ProductType}})</span>                      
                        <span>￥{{crab.TotalPrice}}元</span>
                        <span>x {{crab.ProductNumber}}</span>
                    </div>
                </li>
                
                <li v-if="partMustList.length>0">
                    <div class="title">必选配件</div>
                    <div class="totalpartli" v-for="(part,index) in partMustList">
                        <span>{{part.PartName}}({{part.PartType}})</span>                       
                        <span>￥{{part.TotalPrice}}</span>
                        <span>x{{part.ProductNumber}}</span>
                    </div>
                </li>
                
                <li v-if="partOptList.length>0">
                    <div class="title">可选配件</div>
                    <div class="totalpartli" v-for="(part,index) in partOptList">
                        <span>{{part.PartName}}({{part.PartType}})</span>                       
                        <span>￥{{part.TotalPrice}}</span>
                        <span>x{{part.ProductNumber}}</span>
                    </div>
                </li>
                
                <li v-if="crabList.length>0" >
                    <div class="title">货运</div>
                    <div class="totalpartli">
                        <span>惠农云仓专享9折优惠</span><span>{{order.BillWeight}}kg</span> <span> ￥{{order.ExpressMoney}}</span>
                    </div>
                </li>
                <li v-if="crabList.length>0">
                    <div class="title">商城服务费</div>
                    <div class="totalpartli">
                        <span> 服务费</span> <span>{{order.TotalWeight}}kg (螃蟹净重)</span> <span> ￥{{order.ServiceMoney}}</span>
                    </div>
                </li>
                <li v-if="packList.length>0">
                    <div class="title">团购清单</div>
                    <div class="totalpartli" v-for="(pack,index) in packList">
                        <span>{{pack.ProductName}}</span>                      
                        <span>￥{{pack.TotalPrice}}元</span>
                        <span>x {{pack.ProductNumber}}</span>
                    </div>
                </li>
                <li>
                    <div class="title">配送地址</div>
                    <div class="blReceive">
                        <div class="info">
                            <span>{{address.province}}省</span><span>{{address.city}}市</span><span v-show="address.district!=''">{{address.district}}区</span><span>{{address.details}}</span>
                        </div>
                        <div class="person">
                            <span>{{address.consignee}}</span><span>{{address.telphone}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div style="height: 60px;"></div>
        <footer >
            <div id="indexFooterBox" style="height:4.5rem; line-height:4.5rem; position:relative; top:1rem;border-top:none;" >
                <ul id="indexFooter"  >
                    <li class="bor" ><a href="myOrder.html"><i class="fa fa-file-text-o fa-2x"></i><span>我的订单</span></a></li>
                    <li class="bor"><a href="rebate.html"><i class="fa fa-folder-open-o fa-2x"></i><span>我的成果</span></a></li>
                    <li><a href="shop.html"><i class="fa fa-cart-plus fa-2x"></i><span>立即购买</span></a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="scripts/jquery.min.js" type="text/javascript"></script>
    <script src="scripts/amazeui.min.js" type="text/javascript"></script>
    <script src="scripts/vue.js"></script>
    <script src="service/load.js" type="text/javascript"></script>
    <script src="scripts/lodash.min.js" type="text/javascript"></script>
    <script src="service/orderInfo.js?v=1.2" type="text/javascript"></script>
</body>

</html>