<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <title>高淳大闸蟹</title>
    <link href="style/amazeui.min.css" type="text/css" rel="stylesheet" />
    <link href="style/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style/font-awesome.min.css" />
</head>

<body style="background-color:#eee;">
    <div id="app" v-cloak>
        <!--top开始图片-->
        <div class="banner">
            <img src="images/header.png">
        </div>

        <!-- /top图片-->
        <header data-am-widget="header" class="am-header am-header-default sq-head ">

            <h1 class="am-header-title">
                <a href="" class="" style="color: #333;">提交订单</a>
            </h1>
        </header>
        <div style="height: 10px;"></div>
        <div class="content-list" id="outer">

            <ul class="order-list">
                <li>
                    <div class="title">收货人信息(点击下面收件信息更换地址)</div>
                    <div v-if="!blReceive">
                        <a href="address.html?type=2"><i class="fa fa-plus-square-o fa-3x"></i><span style="font-size:2rem;font-weight:bold; position:relative;left:10%;top:-10px;">填写收货地址</span></a>
                    </div>
                    <div v-else>
                        <div class="blReceive" @click="ChooseAddress()">
                            <div class="info" >
                                <span>{{address.province}}省</span><span>{{address.city}}市</span><span v-show="address.district">{{address.district}}区</span><span>{{address.details}}</span>
                            </div>
                            <div class="person">
                                <span>{{address.consignee}}</span><span>{{address.consex}}</span><span>{{address.telphone}}</span>
                            </div>

                        </div>
                    </div>
                </li>


                <li>
                    <div class="title">发货人信息</div>
                    <div v-if="blHaveSend">
                        <div class="send">
                            {{send.person}}--{{send.telphone}}
                        </div>
                    </div>
                    <div v-else>
                        <div class="am-form">
                            <div class="am-form-group" style="margin-bottom:.5rem;">
                                <input type="text" id="person" v-model="send.person" placeholder="请输入发货人姓名">
                            </div>
                            <div class="am-form-group" style="margin-bottom:0;">
                                <input type="text" v-model="send.telphone" placeholder="请输入发货人联系方式">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="title">商品清单</div>
                    <div v-for="(cart,index) in cartPackageList " class="list-product">
                        <img v-bind:src="imgBaseUrl+cart.image" class="list-pic" />
                        <div class="list-mid">
                            <div class="tit">{{cart.name}}</div>
                            <div class="total">x {{cart.num}}</div>
                            <div class="price"><span>￥{{cart.price}}元/件</span></div>
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
        <div style="height: 60px;"></div>
        <!--底部-->
        <div class="fix-bot">
            <div class="fix-bot-cart" style="float:left;width:70%;margin-left:0%;">
                <div class="c_price">
                    共 ￥<span style="font-size:1.5rem;font-weight:bolder;color:#f60;">{{totalmoney}}</span> 元
                </div>
                <div class="c_btn">
                    <a v-show="totalNumber<2" class="fa fa-minus-circle" style="color:#3f3f3f; font-size:2.3rem; "></a>
                    <a v-show="totalNumber>1" class="fa fa-minus-circle" style="color:#3f3f3f; font-size:2.3rem;" @click="ResponseNumber()"></a>
                    <span style="margin:0 1.2rem 0 1.2rem; position:relative; top:-.4rem;">{{totalNumber}}</span>
                    <a class="fa fa-plus-circle" style="color:#39b867; font-size:2.3rem;" @click="AddNumber()"></a>
                </div>
            </div>
            <div class="fix-bot-jsks">
                <a href="javascript:void(0)" onclick="SubmitPlay()">立即支付</a>
            </div>
        </div>
        <div class="am-modal am-modal-prompt" tabindex="-1" id="myprompt">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">用户首次登录</div>
                <div class="am-modal-bd">
                    <form action="" class="am-form am-form-horizontal" id="doc-vld-msg" data-am-validator>
                        <div class="am-form-group ">
                            <label class="am-u-sm-3 am-form-label" for="name">姓名:</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="am-form-field" id="username" name="username" minlength="2" required v-model="user.UserName" placeholder="输入姓名（至少 2 个汉字）"
                                />
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label" for="phone">联系方式:</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="phone" name="phone" class="js-pattern-mobile am-form-field " minlength="11" placeholder="输入手机号" required
                                    v-model="user.UserPhone" />
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label" for="">性别:</label>
                            <div class="am-u-sm-9">
                                <label class="am-radio-inline">
                                            <input type="radio" id="one" value="先生" checked name="sex" v-model="user.UserSex">先生
                                        </label>
                                <label class="am-radio-inline">
                                            <input type="radio" id="two" value="女士" name="sex" v-model="user.UserSex">女士
                                        </label>
                            </div>
                        </div>
                        <button class="am-btn am-btn-secondary" type="button" id="btnSub">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/jquery.min.js" type="text/javascript"></script>
    <script src="scripts/amazeui.min.js" type="text/javascript"></script>
    <script src="scripts/vue.js"></script>
    <script src="service/load.js" type="text/javascript"></script>
    <script src="scripts/lodash.min.js" type="text/javascript"></script>
    <script src="service/packOrder.js?v=1.2" type="text/javascript"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        if ($.AMUI && $.AMUI.validator) {
            // 增加单个正则
            $.AMUI.validator.patterns.mobile = /^1((3|5|8){1}\d{1}|70)\d{8}$/;
        }
        $(function () {
            $("#btnSub").click(function () {
                var length = $("#doc-vld-msg :invalid").length;
                if (length == 0) {
                    $.ajax({
                        type: 'post',
                        url: 'http://bw.gcdzxfu.cn/api/WebApi/AddUser',
                        data: {
                            UserName: vm.user.UserName,
                            UserPhone: vm.user.UserPhone,
                            UserSex: vm.user.UserSex,
                            OpenId: vm.openId
                        },
                        success: function (msg) {
                            if (msg && msg.status) {
                                vm.user.UserId = msg.userid;
                                setStore("userid", msg.userid);
                                $("#myprompt").modal('close');
                            }
                        }
                    });
                }
            });
            //生产JSAPI配置
            $.ajax({
                url: 'http://bw.gcdzxfu.cn/WeChatApi/GetJsApiConfig',
                type: 'post',
                data: {
                    currentPage: window.location.href
                },
                complete: function (d) {
                    var data = JSON.parse(d.responseText)
                    wx.config({
                        debug: false,
                        appId: data.appId,
                        timestamp: data.timestamp,
                        nonceStr: data.nonceStr,
                        signature: data.signature,
                        jsApiList: data.jsApiList
                    });
                }
            });
        });
    </script>
</body>

</html>